<!-- <h1> Cadastro de Cliente.</h1>

<form>
  <div class="form-row" id = "cadastro">
    <div class="form-group col-md-8">
      <label for="inputName" width="300">Nome Completo</label>
      <input type="text" class="form-control" id="inputName">
    </div>
  </div>

  <div class="form-row" id = "cpf">
    <div class="form-group col-md-4">
      <label for="inputCPF">CPF</label>
      <input type="cpf" class="form-control" id="inputCPF">
    </div>
    <div class="form-group col-md-4">
      <label for="inputRG">RG</label>
      <input type="rg" class="form-control" id="inputRG">
    </div>
  </div>


  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputCity">Nome da Rua</label>
      <input type="city" class="form-control" id="inputCity">
    </div>

    <div class="form-group col-md-3">
      <label for="inputEstado">Nr Endereço</label>
      <input type="estado" class="form-control" id="inputEstado">
    </div>

    <div class="form-group col-md-3">
      <label for="inputEstado">Cep</label>
      <input type="estado" class="form-control" id="inputEstado">
    </div>


    <div class="form-group col-md-3">
      <label for="inputEstado">Estado</label>
      <input type="estado" class="form-control" id="inputEstado">
    </div>
    <div class="form-group col-md-3">
      <label for="inputEstado">Cidade</label>
      <input type="estado" class="form-control" id="inputEstado">
    </div>



    <div class="form-group col-md-3">
      <div class="input-box customer-dob">
        <div class="dob-day">
      <label for="month">Data de Nascimento</label>
      <input type="text" class="form-control" id="day">
    </div>
  </div>
</div>
    <div class="form-group col-md-3">
        <label for="inlineFormCustomSelect">Gênero</label>
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
          <option selected>Opção...</option>
          <option value="1">F</option>
          <option value="2">M</option>
        </select>
      </div>



  </div>

  <h3>Contatos</h3>

  <div class="form-row" id="email">
    <div class="form-group col-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
  </div>

  <div class="form-row" id="contato">
    <div class="form-group col-md-4">
      <label for="inputNumber">Telefone</label>
      <input type="number" class="form-control" id="inputNumber">
    </div>
    <div class="form-group col-md-4">
      <label for="inputNumber">Celular</label>
      <input type="number" class="form-control" id="inputNumber">
    </div>
  </div>

  <button type="submit" routerLink="/selecionarcliente" class="btn btn-primary">Cadastrar</button>


</form> -->

<!--Conteudo Principal-->
<div class="row">
  <div class="side-bar col-lg-3 col-md-4 col-sm-0">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-lg-9 col-md-8 col-sm-12">
<div class="conteudo mt-4 container text-green">
  <h1>Cadastro De Cliente</h1>
  <hr>
  <form #formCadastro = "ngForm">
      <div class="form-group row">
          <div class="col-12 my-2">
            <label for="Nome">Nome completo</label>
            <input class="form-control form-control-lg" id="Nome" type="nome" placeholder="Nome completo" [(ngModel)] = "cliente.nmCliente" name="nmCliente">
        </div>
        <div class="col-6 my-2">
          <label for="cpf">CPF</label>
          <input class="form-control form-control-lg" id="cpf" type="number" placeholder="CPF" [(ngModel)] = "cliente.nrCPF" name="nrCPF">
        </div>
        <div class="col-6 my-2">
          <label for="rg">RG</label>
          <input class="form-control form-control-lg" id="rg" type="number" placeholder="RG" [(ngModel)] = "cliente.nrRg" name="nrRG">
        </div>
        <div class="col-6 my-2">
          <label for="dtNascimento">Data de Nascimento</label>
          <input class="form-control form-control-lg" id="dtNascimento" type="date" placeholder="Data de Nascimento" [(ngModel)] = "cliente.dtNascimento" name="dtNascimento" (blur)="calculaIdade()">
      </div>

      <div class="col-6 my-2">
        <label class="my-1 mr-2" for="genero">Gênero</label>
        <select class="custom-select my-1 mr-sm-2" id="genero" [(ngModel)] = "cliente.dsGenero" name="dsGenero">
            <option selected>Escolher...</option>
            <option value="M">Masculino</option>
            <option value="F">Feminino</option>
            <option value="N">Não informado</option>
        </select>
      </div>
      <div class="col-12 my-2"><h2>Endereço</h2></div>
      <div class="col-6 my-2">
        <label for="cep">CEP</label>
        <input class="form-control form-control-lg" id="cep" type="number" placeholder="CEP" [(ngModel)] = "endereco.nrCep" name="nrCep">
    </div>
        <div class="col-6 my-2">
          <label for="endereco">Nome da rua</label>
          <input class="form-control form-control-lg" id="endereco" type="endereco" placeholder="Nome da rua" [(ngModel)] = "endereco.dsEndereco" name="dsEndereco">
      </div>

          <div class="col-6 my-2">
              <label for="nEndereco">Número</label>
              <input class="form-control form-control-lg" id="nEndereco" type="number" placeholder="Número" [(ngModel)] = "endereco.nrEndereco" name="nrEndereco">
          </div>

          <div class="col-6 my-2">
            <label for="bairro">Bairro</label>
            <input class="form-control form-control-lg" id="bairro" type="bairro" placeholder="Bairro" [(ngModel)] = "endereco.dsBairro" name="dsBairro">
        </div>

          <div class="col-6 my-2">
            <label for="endereco">Cidade</label>
            <input class="form-control form-control-lg" id="endereco" type="endereco" placeholder="Cidade" [(ngModel)] = "endereco.cidade" name="cidade">
        </div>

        <div class="col-6 my-2">
          <label for="uf">UF</label>
          <input class="form-control form-control-lg" id="uf" type="uf" placeholder="UF" [(ngModel)] = "endereco.sgEstado" name="sgEstado">
      </div>

      <div class="col-12 my-2"><h2>Contatos</h2></div>


          <div class="col-6 my-2">
            <label for="email]">Email</label>
            <input class="form-control form-control-lg" id="email" type="email" placeholder="Email" [(ngModel)] = "cliente.dsEmail" name="dsEmail">
        </div>
        <div class="col-6 my-2">
          <label for="telefone">Telefone</label>
          <input class="form-control form-control-lg" id="telefone" type="number" placeholder="Telefone" [(ngModel)] = "cliente.nrTelefoneCliente" name="nrTelefoneCliente">
      </div>

        </div>
          <div class="col-12 mt-3">
              <div class="row d-flex justify-content-end">
                  <div class="col-3">
                      <a (click) = "cadastrar()" type="submit" class="btn btn-primary form-control btn-lg btn-block">Cadastrar</a>
                  </div>
              </div>
          </div>
        </form>
</div>
