
<div *ngIf="!(router.url.includes('login') || router.url.includes('selecionarcliente') || router.url.includes('relatoriocliente') || router.url.includes('cadastro'))">
    <header>

    <nav class="navbar navbar-dark  nav-rd">
        <a class="navbar-brand" href="">
            <img src="assets/images/Raiadrogasil_Logo.png" width="200" class="d-inline-block align-top" alt="" loading="lazy">
        </a>
        <div class="information-base">
            <ul>
                <li><b>Funcionario: </b> {{operador.nmOperador}} </li>
                <li><b>Matricula: </b> {{operador.nrMatricula}} </li>
                <li><b>Filial: </b> <b>{{operador.cdFilial}}</b> </li>
            </ul>
        </div>
    </nav>

</header>
</div>