<header>
    <nav class="navbar navbar-dark  nav-rd">
        <a class="navbar-brand" href="">
            <img src="assets/images/Raiadrogasil_Logo.png" width="200" class="d-inline-block align-top" alt="" loading="lazy">
        </a>
        <div class="information-base">
            <ul>
                <li><b>Funcionario: </b> Lorem Ipsum da Silva </li>
                <li><b>Matricula: </b> 174602 </li>
                <li><b>Loja: </b> 255 - <b>Osasco 11</b> </li>
            </ul>
        </div>
    </nav>
</header>