footer.dashboard {
    padding: 10px 20px;
    text-align: center;
    left: 250px; }
  
footer.text-center p {
    font-size: 14px; }
  
footer.text-center {
    left: 52px; }
  
footer.text-center {
    left: 52px; }
  
    footer.dashboard p a:hover {
    text-decoration: underline; }