<!--Conteudo Principal-->
<div class="row">
    <div class="side-bar col-lg-3 col-md-4 col-sm-0">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-12">
<div class="conteudo mt-4 container text-green">
    <h1>Devolução de Produtos</h1>
    <hr>
    <form>
        <div class="form-group row">
            <div class="col-12 my-2">
                <div class="row">
                  <div class="col-4 my-2">
                    <label for="nCupom">N° Cupom</label>
                    <input class="form-control form-control-lg" id="nCupom" type="number" placeholder="N° Cupom">
                </div>
                    <div class="col-4 ">
                        <label class="my-1 mr-2" for="motivo">Motivo da Devolução</label>
                        <select class="custom-select my-1 mr-sm-2" id="motivo">
                            <option selected>Escolher...</option>
                            <option value="1">Compra Incorreta</option>
                            <option value="2">Venda Incorreta</option>
                            <option value="3">Produto Danificado</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-4 my-2">
                <label for="dtEmissao">Data de Emissão do Cupom</label>
                <input class="form-control form-control-lg" id="dtEmissao" type="date" placeholder="Data de Emissão do Cupom">
            </div>
            <div class="col-4 my-2">
                <label for="nCaixa">N° do Caixa</label>
                <input class="form-control form-control-lg" id="nCaixa" type="number" placeholder="N° do Caixa">
            </div>
            <div class="col-4 my-2">
                <label for="codFilial">Código da Filial</label>
                <input class="form-control form-control-lg" type="number" id="number" placeholder="Código da Filial">
            </div>

            <div class="col-12 mt-3">
                <div class="row d-flex justify-content-end">
                    <div class="col-3">
                        <a type="submit" class="btn btn-primary form-control btn-lg btn-block">Finalizar</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
