<!--Conteudo Principal-->
<div class="row">
    <div class="side-bar col-lg-3 col-md-4 col-sm-0">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-12">
<div class="conteudo mt-4 container text-green">
    <h1>Devolução de Produtos</h1>
    <hr>
    <div *ngIf = "responseSucesso" class="alert alert-success" role="alert">
        {{mensagemSucesso}}
      </div>
      <div *ngIf = "responseError" class="alert alert-danger" role="alert">
        {{mensagemError}}
      </div>

    <form #formDev = "ngForm">
        <div class="form-group row">
            <div class="col-12 my-2">
                <div class="row">
                  <div class="col-4 my-2">
                    <label for="nCupom">N° Cupom</label>
                    <input class="form-control form-control-lg" id="nCupom" type="number" placeholder="N° Cupom" #inputNf (keyup.enter)="consultarNF()" (blur)="consultarNF()">
                </div>
                    <div class="col-4 ">
                        <label class="my-1 mr-2" for="motivo">Motivo da Devolução</label>
                        <select #motivo name="motivo" (change)="motivoSelect()" ngModel class="custom-select my-1 mr-sm-2" id="motivo" required>
                            <option selected value="">Escolher...</option>
                            <option value="1">Compra Incorreta</option>
                            <option value="2">Venda Incorreta</option>
                            <option value="3">Produto Danificado</option>
                        </select>
                    </div>

                    <div class = "col-4">
                        <div class="form-check mt-4">
                            <input class="form-check-input" type="radio" name="exampleRadios" #tipo id="exampleRadios1" (change) = "tipoDevolucao =!tipoDevolucao" checked>
                            <label class="form-check-label" for="exampleRadios1">
                              Devolução total
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" (change) = "tipoDevolucao =!tipoDevolucao">
                            <label class="form-check-label" for="exampleRadios2">
                              Devolução parcial
                            </label>
                          </div>
                    </div>
                </div>
            </div>

            <div class="col-4 my-2">
                <label for="dtEmissao">Data de Emissão do Cupom</label>
                <input #dtCupom class="form-control form-control-lg" id="dtEmissao" type="date" placeholder="Data de Emissão do Cupom" disabled>
            </div>
            <div class="col-4 my-2">
                <label for="nCaixa">N° do Caixa</label>
                <input required #caixa name="caixa" ngModel class="form-control form-control-lg" id="nCaixa" type="number" placeholder="N° do Caixa" (keyup.enter)="tipo.focus()">
            </div>

        </div>
    </form>


    <table class="table">
        <thead class="thead comeco" style="background-color: rgb(88, 88, 88); color: white; font-size: 14px;">
          <tr>
            <th scope="col">Código Produto</th>
            <th scope="col">Descrição do Produto</th>
            <th scope="col">Valor</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Quantidade devolvida</th>

          </tr>
        </thead>
        <tbody *ngFor = "let item of nfResponse.retorno.itens">
          <tr>
            <th scope="row">{{item.produto.cdProduto}}</th>
            <th scope="row">{{item.produto.nmFantasia}}</th>
            <th scope="row">{{item.produto.vlUnidade}}</th>
            <th scope="row">{{item.qtItem}}</th>
            <th scope="row">
                <input  [disabled] = "tipoDevolucao!=true" type = "number" [(ngModel)] = "item.qtDevAux">

            </th>

          </tr>
        </tbody>
      </table>
      <div class="row d-flex justify-content-end">
        <div class="col-3">
            <button type="submit" class="btn btn-primary form-control btn-lg btn-block" (click) = "gravarDevolucao()" #btnGravar [disabled]="formDev.form.invalid">Gravar</button>
        </div>

</div>
</div>


  <!-- Modal -->
  <div class="modal fade" id="mensagemDev" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Aviso</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{mensagem }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>

