<div class="row">
  <div class="side-bar col-lg-3 col-md-4 col-sm-0">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-lg-9 col-md-8 col-sm-12">
    <div class="row my-3">
      <div class="col-9"><h1>Reserva de Produtos</h1></div>
      <div class="col-3"><button class="btn btn-primary form-control mt-1" type="button" routerLink="/cadastroreservaproduto">Cadastrar Reserva</button></div>
    </div>

    <hr>
    <div style=" height:530px; overflow:scroll;overflow-x:hidden; ">
      <table class="table">
        <thead class="thead comeco" style="background-color: rgb(88, 88, 88); color: white; font-size: 14px;">
          <tr>
            <th scope="col">Reserva</th>
            <th scope="col">Código Produto</th>
            <th scope="col">Descrição</th>
            <th scope="col" class="text-center">Quantidade</th>
            <th scope="col" class="text-center">Ação</th>

          </tr>
        </thead>
        <tbody *ngFor="let retorno of RelatorioReserva.retorno">
          <tr *ngFor="let reserva of retorno.itens ">
            <th scope="row">{{retorno.idTcReserva}}</th>
            <th scope="row">{{reserva.produto.cdProduto}}</th>
            <td>{{reserva.produto.nmFantasia}}</td>
            <td class="text-center">{{reserva.qtProduto}}</td>
            <td class="text-right">
              <button type="button" class="btn btn-secondary btn-etiqueta" data-toggle="modal"
                (click)="generatePdf(retorno)"></button>
              <button type="button" class="btn btn-info btn-editar mx-2" data-toggle="modal"
                data-target="#exampleModal"></button>
              <button type="button" class="btn btn-danger btn-excluir" data-toggle="modal"
                data-target="#exampleModal" (click)="selectItemDelete(retorno.idTcReserva, reserva.produto.cdProduto)"></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Remover Item</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
              <div class="modal-body">
                  Tem certeza que deseja remover este item?
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-danger" (click)="delete()">Remover</button>
              </div>
          </div>
      </div>
  </div>






