<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center" id="loginbox">
        <div class="col-6">
            <div class="row">

                <div class="col-12 text-center br-rd">
                    <img src="assets/images/Raiadrogasil_Logo.png" width="300" class="my-3">
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-3 border-rd">
                    <form #formLogin = "ngForm">
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-9">
                                <div class="row">
                                    <div class=" col-12 my-4 alert alert-danger" *ngIf="error == true">
                                        {{mensagemError}}
                                    </div>
                                    <div class="form-group col-12 my-4">
                                        <label for="usuario" class="text-green">Matrícula Usuário:</label>
                                        <input type="number" class="form-control" [(ngModel)] = "operador.nrMatricula" name="nrMatricula" required [ngClass]="{'is-invalid': error == true}">
                                    </div>
                                    <div class="form-group col-12 my-4">
                                        <label for="senha" class="text-green">Senha:</label>
                                        <input type="password" class="form-control" [(ngModel)] = "operador.pwOperador" name="pwOperador" required [ngClass]="{'is-invalid': error == true}">
                                        <a class="link" (click) = "abreModal()">Esqueci minha senha</a>
                                    </div>
                                    <div class="form-group col-12 my-4 text-center">
                                       <button (click) = "logar()" [disabled]="formLogin.form.invalid" class="btn btn-primary btn-lg pl-5 pr-5 person-icon">Login</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="senhaModal" tabindex="-1" aria-labelledby="senhaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="senhaModalLabel">Aviso, solicitando troca de senha!</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="numerocpf">Número De CPF</label>
            <input type="cpf" class="form-control" id="numerocpf" aria-describedby="cpfHelp">
            <small id="cpfHelp" class="form-text text-muted">Seu cpf é sua segurança, não compartilhe com ninguém.</small>
          </div>
          <div class="form-group">
            <label for="newpassword">Nova senha</label>
            <input type="password" class="form-control" id="newpassword">
          </div>
          <div class="modal-footer">
        <button type="button, submit" class="btn btn-primary">Alterar</button>
      </div>
        </form>
      </div>

    </div>
  </div>
</div>
