<table class="table" id="tableOferta">
    <thead class="thead" style="background-color: rgb(88, 88, 88); color: white; font-size: 14px;">
        <tr>
            <th scope="col" style="align-content:  center;">Categoria</th>
            <th scope="col">Produto</th>
            <th scope="col">Descrição</th>
            <th scope="col">Desconto</th>
        </tr>
    </thead>
    <tbody id="tabelaBody">
        <tr style="height: 10vh;">
            <th scope="row">Tratamento de Pele</th>
            <td>Creme</td>
            <td>Creme Anticelulite para Pernas Goicoechea</td>
            <td style="color: #01784E; font-size: 18px; font-weight: bold;">5%</td>
        </tr>
        <tr style="height: 10vh;">
            <th scope="row">Tratamento de Pele</th>
            <td>Creme</td>
            <td>Hidratante Desodorante Nivea Q10 Plus Pernas Renovadas Anticelulite</td>
            <td style="color: #01784E; font-size: 18px; font-weight: bold;">2%</td>
        </tr>
        <tr style="height: 10vh;">
            <th scope="row">Produto Infantil</th>
            <td>Fralda</td>
            <td>Fralda Roupinha Huggies Supreme Care Tamanho G</td>
            <td style="color: #01784E; font-size: 18px; font-weight: bold;">7%</td>
        </tr>
        <tr style="height: 10vh;">
            <th scope="row">Produto Infantil</th>
            <td>Fralda</td>
            <td>Fralda Cremer Tamanho G</td>
            <td style="color: #01784E; font-size: 18px; font-weight: bold;">1,5%</td>
        </tr>
        <tr style="height: 10vh;">
            <th scope="row">Produto Infantil</th>
            <td>Fralda</td>
            <td>Fralda Cremer Tamanho G</td>
            <td style="color: #01784E; font-size: 18px; font-weight: bold;">1,5%</td>
        </tr>
        <tr style="height: 10vh;">
            <th scope="row">Escova Denntal</th>
            <td>Colgate</td>
            <td>Escova Dental Oral B Indicator N°35</td>
            <td style="color: #01784E; font-size: 18px; font-weight: bold;">3%</td>
        </tr>
        <tr style="height: 10vh;">
            <th scope="row">Desodorante</th>
            <td>Rexona</td>
            <td>Desodorante Antitranspirante Rexona Active Dry</td>
            <td style="color: #01784E; font-size: 18px; font-weight: bold;">5%</td>
        </tr>
        <tr style="height: 10vh;">
            <th scope="row">Escova Dental</th>
            <td>Colgate</td>
            <td>Escova Dental Colgate Slim Soft Black</td>
            <td style="color: #01784E; font-size: 18px; font-weight: bold;">4%</td>
        </tr>
        <tr style="height: 10vh;">
            <th scope="row">Escova Dental</th>
            <td>Colgate</td>
            <td>Escova Dental Colgate Slim Soft Black</td>
            <td style="color: #01784E; font-size: 18px; font-weight: bold;">4%</td>
        </tr>
    </tbody>
</table>
