
            <div class="row">
                <!--Conteudo Principal-->
                <table class="table" id="tableOferta">
                    <thead class="thead" style="background-color: rgb(88, 88, 88); color: white; font-size: 14px;">
                        <tr>
                            <th scope="col" style="align-content:  center;">Categoria</th>
                            <th scope="col">Produto</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Desconto</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let cupom of relatorioCupom.retorno.itensCupom">
                      <tr style="height: 10vh;">
                          <th scope="row">{{cupom.produto.categoria.dsCategoria}}</th>
                          <td>{{cupom.produto.categoria.subCategoria.dsSubCategoria}}</td>
                          <td>{{cupom.produto.nmFantasia}}</td>
                          <td style="color: #01784E; font-size: 18px; font-weight: bold;">{{cupom.pcDesconto |percent}}</td>
                      </tr>
                  </tbody>
                </table>
            </div>

