<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center" style="height: 600px;">
        <div class="col-6">
            <div class="row">
                <div class="col-12 text-center br-rd">
                    <div class="row">
                        <div class="col-6">
                            <img src="assets/images/cabecalho/logo.png" width="300" class="my-3">
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-3 border-rd">
                    <h2 class="mt-4 text-green">Buscar Cliente</h2>
                    <form #formCliente="ngForm">
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" [(ngModel)]="pesqCli" name="pesqCli" aria-describedby="Text" placeholder="Digite os dados para consulta" required>
                            <small id="textHelp" class="form-text text-muted">Digite CPF, RG ou Nome
                                completo.</small>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <button (click) = "pesquisar()" class="btn btn-primary" [disabled]="formCliente.form.invalid">Buscar </button>
                            <a (click) = "clienteSimples()" class="btn btn-primary">Cliente Simples</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
