<div class="container-fluid">
  <div class="row d-flex justify-content-center align-items-center" style="height: 600px;">
    <div class="col-10">
      <div class="row">
        <div class="col-12  br-rd">
          <div class="row">
            <div class="col-12">
              <img src="assets/images/cabecalho/logo.png" width="300" class="my-3">
            </div>
          </div>
        </div>
        <div class="col-12 mt-3 border-rd">
          <h2 class="mt-2 text-green">Selecionar Cliente</h2>
          <form>
            <div class="row d-flex justify-content-center align-items-center">
              <div class="col-12">
                <div class="row">
                  <div class="form-group col-12 my-0">
                    <table class="table">
                      <thead style="background-color: #d1d3d1">
                        <tr>
                          <th scope="col">Nome</th>
                          <th scope="col">RG</th>
                          <th scope="col">CPF</th>
                          <th scope="col">Data Nasc</th>
                          <th scope="col" class="text-right"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row" class="text-grey">Maria Luiza</th>
                          <td>56.804.765-5</td>
                          <td>111.222.333.43</td>
                          <td>12/10/1990</td>
                          <td class="text-right"><a routerLink="/consultaproduto"
                              class="btn btn-primary person-icon">Selecionar</a></td>
                        </tr>
                        <tr>
                          <th scope="row" class="text-grey">José Ricardo</th>
                          <td>11.804.765-5</td>
                          <td>111.666.333.43</td>
                          <td>12/05/1997</td>
                          <td class="text-right"><a routerLink="/consultaproduto"
                              class="btn btn-primary person-icon">Selecionar</a></td>
                        </tr>
                        <tr>
                          <th scope="row" class="text-grey">Mateus Marcos</th>
                          <td>56.777.765-5</td>
                          <td>111.222.333.43</td>
                          <td>12/05/1980</td>
                          <td class="text-right"><a routerLink="/consultaproduto"
                              class="btn btn-primary person-icon">Selecionar</a></td>
                        </tr>
                      </tbody>
                    </table>
                    <div *ngFor="let cliente of clienteResponse.retorno">
                      {{cliente.idCliente}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
