<div class="container-fluid">
  <div class="row d-flex justify-content-center align-items-center" style="height: 600px;">
    <div class="col-10">
      <div class="row">
        <div class="col-12  br-rd">
          <div class="row">
            <div class="col-12">
              <img src="assets/images/cabecalho/logo.png" width="300" class="my-3">
            </div>
          </div>
        </div>
        <div class="col-12 mt-3 border-rd">
          <h2 class="mt-2 text-green">Selecionar Cliente</h2>
          <form>
            <div class="row d-flex justify-content-center align-items-center">
              <div class="col-12">
                <div class="row">
                  <div class="form-group col-12 my-0">
                    <table class="table">
                      <thead style="background-color: #d1d3d1">
                        <tr>
                          <th scope="col">Nome</th>
                          <th scope="col">RG</th>
                          <th scope="col">CPF</th>
                          <th scope="col">Data Nasc</th>
                          <th scope="col" class="text-right"></th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let cliente of clienteResponse.retorno">
                        <tr>
                          <th scope="row" class="text-grey">{{cliente.nmCliente}}</th>
                          <td>{{cliente.nrRg}}</td>
                          <td>{{cliente.nrCPF}}</td>
                          <td>{{cliente.dtNascimento | date: 'dd/MM/yyyy'}}</td>
                          <td class="text-right"><a (click)="selecionar(cliente.idCliente)"
                              class="btn btn-primary person-icon">Selecionar</a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
