    <!--Menu Side-bar-->
    <div *ngIf="!(router.url.includes('login') || router.url.includes('selecionarcliente') || router.url.includes('relatoriocliente'))">
        <form id="form1">
        <div class="form-row my-3">
            <!--
                <div class="col-12">
                <label class="font-bold-side-bar">Pesquisa de Produtos</label>
            </div>
            -->
            <div class="col-10 pr-0">
                <input type="text" class="form-control pesqProduto" name="produto" id="produto" placeholder="O que deseja encontrar?">
            </div>
            <div class="col-2 pl-0">
                <a type="submit" class="btn btn-primary lupa"></a>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header text-center">Identificação do Cliente</h5>
                <div class="card-body">
                    <h6 class="card-title">Nome do Cliente:</h6>
                    <p class="card-text font-bold-side-bar">Lorem Ipsum da Silva</p>
                    <h6 class="card-title">CPF:</h6>
                    <p class="card-text font-bold-side-bar">494.276.853-52</p>
                    <h6 class="card-title">Categoria:</h6>
                    <p class="card-text font-bold-side-bar">Sênior</p>
                    <!-- <h6 class="card-title">Convênio</h6>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="convenio" id="inlineRadio1" value="sim">
                        <label class="form-check-label font-bold-side-bar" for="inlineRadio1">Sim</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="convenio" id="inlineRadio2" value="nao">
                        <label class="form-check-label font-bold-side-bar" for="inlineRadio2">Não</label>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-3"><a routerLink="/selecionarcliente" class="btn btn-primary form-control btn-novo"><b> Novo
                    Atendimento</b></a></div>
                   
        <div class="col-12 mt-3"><a routerLink="/reservaproduto" class="btn btn-primary form-control btn-reserva"><b>Reserva de
                    Produtos</b></a></div>
        <div class="col-12 mt-3"><a routerLink="/devolucao" class="btn btn-primary form-control btn-troca"><b>Troca de
                    Produtos</b></a></div>
        <div class="col-12 mt-3"><a routerLink="/ofertacupom" class="btn btn-primary form-control btn-cupom"><b>Cupom de
                    Desconto</b></a></div>
        <div class="col-12 mt-3"><a routerLink="/login" class="btn btn-primary form-control btn-sair"><b>Sair</b></a></div>
    </div>
    <div class="row" id="onlySpace">

    </div>
</div>