
<div class="row">
    <div class="side-bar col-lg-3 col-md-4 col-sm-0">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-12">
<div>
    <div class="Space">

    </div>
    <div class="Space_Descricao">
        <div class="row">
            <div class="col-8">
                <label class="labelDescription"><b>Categoria: </b></label>
                <label class="labelDescription"> {{produtoDesc.categoria.dsCategoria}}</label>
            </div>
            <div class="col-4">
                <label class="labelDescription"><b>Status: </b></label>
                <label class="labelDescription"> {{produtoDesc.statusProduto.dsStatusProduto}}</label>
            </div>
            <div class="col-12">
                <label class="labelDescription"><b>Descrição Completa: </b></label>
                <label class="labelDescription"> {{produtoDesc.dsProduto}}</label>
            </div>
        </div>
    </div>
    <div class="div-table-prod">
        <table class="table ">
            <thead class="thead" style="background-color: rgb(115, 115, 115); color: white; font-size: 14px;">
                <tr>
                    <th scope="col">Forn</th>
                    <th scope="col">Cod</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Est</th>
                    <th scope="col">VB</th>
                    <th scope="col">MP</th>
                    <th scope="col">PMC</th>
                    <th scope="col">$V Exclu</th>
                    <th scope="col">%</th>
                    <th scope="col">LMPM-QTD</th>
                    <th scope="col">LMPM-VL</th>
                    <th scope="col">Reserva</th>
                </tr>
            </thead>
            <tbody *ngFor="let produto of estoqueResponse.retorno">
                <tr (mouseenter)="produtoDescricao(produto.cdEstoque);" [ngClass]="{'table-success': mousePass === produto.cdEstoque}" >
                    
                    <td>{{produto.produto.nmFabricante}}</td>
                    <td>{{produto.produto.cdProduto}}</td>
                    <td>{{produto.produto.nmFantasia}}</td>
                    <td>{{produto.qtEstoque}}</td>
                    <td>{{produto.qtBase}}</td>
                    <td>%</td>
                    <td>{{produto.produto.vlUnidade}}</td>
                    <td>{{produto.produto.vlUnidade - (cliente.categoriaClienteDTO.pcDescontoCliente * produto.produto.vlUnidade | number: '1.0-0')}}</td>
                    <td>{{cliente.categoriaClienteDTO.pcDescontoCliente | percent}}</td>
                    <td><span *ngIf="produto.produto.lmpmItem!=null">{{produto.produto.lmpmItem.qtProduto}}</span></td>
                    <td><span *ngIf="produto.produto.lmpmItem!=null">{{produto.produto.vlUnidade - (produto.produto.lmpmItem.pcDesconto * produto.produto.vlUnidade)}}</span></td>
                    <td><a routerLink="/reservaproduto" class="btn btn-success form-control" style="background-color: #01784E; border-color: #01784E;"><b> Reserva
                    </b></a></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
</div>

